
body {
    color: #f5f5db;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 53%, rgba(21, 38, 66, 1) 100%);
}


h1 {
    color: gold;
    text-align: center;
    animation: h1animation 4s ease-in-out;

}

@keyframes h1animation {
    0% { color:#f5f5db; font-size: 3.5em;}
    100% {color: gold; font-size: 2em ;}
    
}


nav ul {
    display: flex;
    list-style-type: none;
    gap: 4em;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
    color: gold;
    text-align: center;
    transition: 0.3s;
}

nav ul li a:hover {

    font-size: 1.1em;
    animation: glow 1s ease-in-out infinite alternate;
}

/* https://www.w3schools.com/howto/howto_css_glowing_text.asp */
@keyframes glow {
    0% {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #3438a6, 0 0 40px #3438a6, 0 0 50px #3438a6, 0 0 60px #3438a6, 0 0 70px#3438a6;
    }

    100% {
        text-shadow: 0 0 20px #fff, 0 0 30px #588fd3, 0 0 40px #588fd3, 0 0 50px #588fd3, 0 0 60px #588fd3, 0 0 70px #588fd3, 0 0 80px #588fd3;
    }
}


/* https://css-tricks.com/a-handy-little-system-for-animated-entrances-in-css/ */
header section {
    display: flex;
    justify-content: center;
    align-items: center;

}

header section img {
    width: 12em;
    animation: fotoanimation 3s;
    animation-fill-mode: backwards;
}

header section img:nth-of-type(1){
    margin-right: -2em;
    animation-delay: 0.5s;
    
}

header section img:nth-of-type(3){
    margin-left: -2em;
    animation-delay: 1.5s;
    
}

header section img:nth-of-type(2){
    /* +2 omdat het voor de 2 andere moet komen */
    z-index: 1;
    margin-right: -2em;
    animation-delay: 2.5s;
    
}

@keyframes fotoanimation {
    0% {opacity: 0; filter:blur(0.3em);}
    100% {opacity: 1; filter:blur(0);}
}

header section img:hover{
    scale: (1.2);
}

main {
    margin-top: 2em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4em;
    text-align: justify;
}

main section ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap:4em;
}
main section ul li img{
    max-width: 7em;
    transition: 0.9s;

}

main section ul li img:hover{
    transform: scale(1.1);

}

footer form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    color: gold;
}

footer form input{
    padding: 1em;
    width: 19em;
    border: gold solid .1em;
    background-color: transparent;
    color:#f5f5db;

}

footer form input:focus{
    box-shadow: 0em 0em 1em gold;
    outline: none;
}

footer button{
    color: gold;
    border: gold solid 0.1em;
    background-color: transparent;
    padding: 0.8em 2em;
}