/* heel website body kleur geven */
body {
    color: #f5f5db;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 53%, rgba(21, 38, 66, 1) 100%);
    animation: fadepage 5s;
}

/* hele website bij elke pagina een fade geven als je erop komt */
@keyframes fadepage {
    0% {opacity: 0;}
    100% {opacity: 1;}
}


/* h1 animatie geven */
h1 {
    color: gold;
    text-align: center;
    animation: h1animation 4s ease-in-out;

}

@keyframes h1animation {
    0% {
        color: #f5f5db;
        font-size: 3.5em;
    }

    100% {
        color: gold;
        font-size: 2em;
    }

}

/* navigatie balk goed ordenen */
nav {
    margin-top: 1em;
}

nav ul {
    display: flex;
    list-style-type: none;
    gap: 4em;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
    color: gold;
    text-align: center;
    transition: 0.3s;
}

nav ul li a:hover {

    font-size: 1.1em;
    animation: glow 1s ease-in-out infinite alternate;
}

/* text in mijn nav een glow geven */
/* https://www.w3schools.com/howto/howto_css_glowing_text.asp */
@keyframes glow {
    0% {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #3438a6, 0 0 40px #3438a6, 0 0 50px #3438a6, 0 0 60px #3438a6, 0 0 70px#3438a6;
    }

    100% {
        text-shadow: 0 0 20px #fff, 0 0 30px #588fd3, 0 0 40px #588fd3, 0 0 50px #588fd3, 0 0 60px #588fd3, 0 0 70px #588fd3, 0 0 80px #588fd3;
    }
}


/* https://css-tricks.com/a-handy-little-system-for-animated-entrances-in-css/ */
/* mijn header is een component want hij wordt op meerdere pagina's gebruikt met dezelfde styling */

header div {
    display: flex;
    justify-content: center;
    align-items: center;

}

/* de 3 fotos laten animeren */
header div img {
    width: 12em;
    animation: fotoanimation 3s;
    animation-fill-mode: backwards;
}

header div img:nth-of-type(1) {
    margin-right: -2em;
    animation-delay: 0.5s;

}

header div img:nth-of-type(3) {
    margin-left: -2em;
    animation-delay: 1.5s;

}

header div img:nth-of-type(2) {
    /* +2 omdat het voor de 2 andere moet komen */
    z-index: 1;
    margin-right: -2em;
    animation-delay: 2.5s;

}

@keyframes fotoanimation {
    0% {
        opacity: 0;
        filter: blur(0.3em);
    }

    100% {
        opacity: 1;
        filter: blur(0);
    }
}

header section img:hover {
    scale: (1.2);
}

main {
    max-width: 80em;
    margin: 3em auto 4em;
}

.eerste main , .tweede main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4em;
}
.eerste main p {
    text-align: justify;
}

.eerste main section ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 4em;
}

.eerste main section ul li img {
    max-width: 7em;
    transition: 0.9s;

}

.eerste main section ul li img:hover {
    transform: scale(1.1);
}

/* mijn footer is ook een component */
footer {
    max-width: 80em;
    margin: auto;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    color: gold;
}

form input {
    padding: 1em;
    width: 19em;
    border: gold solid .1em;
    background-color: transparent;
    color: #f5f5db;

}

form input:focus {
    box-shadow: 0em 0em 1em gold;
    outline: none;
}

button {
    color: gold;
    border: gold solid 0.1em;
    background-color: transparent;
    padding: 0.8em 2em;
}

button:active {
    box-shadow: 0em 0em 1em gold;
}

footer p {
    color: gold;
    opacity: 0.5;
    text-align: right;
}





/* TWEEDE PAGINE ELIE SAAB */



/* Slideshow code source: https://www.w3.org/Style/Examples/007/slideshow.en.html */

.tweede main ul {
    list-style: none;
    height: 35em;
    width: 23em;
    /* dit is de parent en houdt de afbeeldingen in de container/zn plek (ul) */
    position: relative;
    margin: auto;
    padding: 0;
    /* alles wat buiten de container valt, niet laten weergeven. Als je het niet deed, kwam het onder de text*/
    overflow: hidden;
}


.tweede main ul li {
    opacity: 0;
    position: absolute;
    animation: 12s autoplay-slideshow infinite;
}

.tweede main ul img {
    height: 35em;
}

.tweede main ul li:nth-child(1) {
    animation-delay: 0s
}

.tweede main ul li:nth-child(2) {
    animation-delay: 4s
}

.tweede main ul li:nth-child(3) {
    animation-delay: 8s
}

@keyframes autoplay-slideshow {
    0% {
        opacity: 0;
        transform: translateX(50%);
    }

    15% {
        opacity: 1;
        transform: translateX(0%);
    }

    30% {
        opacity: 0;
        transform: translateX(-50%);
    }
}

/* text animation. Eerste p geldt voor alle p's dus ded delay, animatie duur enz, en dan nadat ga je de andere p's bewerken. Dus apart een delay toevoegen. dit zorgt ervoor dat het 1 voor 1 komt*/

.tweede p, .tweede section a ,.tweede h2{
    animation-duration: 1s;
    animation-name: animate-fade;
    animation-delay: 0.5s;
    animation-fill-mode: backwards;
}

@keyframes animate-fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.tweede h2{
    animation-delay: 0.6s;

}
.tweede p:nth-of-type(1) {
    animation-delay: 0.9s;
}

.tweede p:nth-of-type(2) {
    animation-delay: 1.2s;
}

.tweede p:nth-of-type(3) {
    animation-delay: 1.5s;
}

/* koop deze knopw eliesaab */
.tweede main section a img{
    width: 1.5em;
    padding-left: 1em;
}

.tweede main section a {
    margin: auto;
    animation-delay: 1.5s;
    color: #f5f5db;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 0.1em gold;
    width: 11em;
    padding: 0.5em;
    transition: 0.4s;
}

.tweede main section a:hover{
    text-shadow: 0em 0em 1em white;
    box-shadow: 0em 0em 1em rgba(255, 217, 0, 0.664);
} 


/* instagram volgen elie saab */

.tweede footer a {
    margin: auto;
    animation-delay: 1.5s;
    color: #f5f5db;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tweede footer a:hover{
    text-shadow: 0em 0em 1em gold;
    color: gold;

} 

.tweede footer a img {
    max-width: 4em;
}





/* DERDE PAGINA MONTALE */


/*  3e pagina een breedte geven */
.derde main{
    max-width: 45em;
}

/* ruimte tussen de parfum fotos,dus tussen de section */
.derde main section {
    margin-bottom: 3em;
}

/* de 3 parfums een grootte geven en animation */
.derde main section > img{
    max-width: 13em;
    animation: zweefparfum 3s infinite;
    animation-delay: 0.5;
}

@keyframes zweefparfum{
    0% {transform: translateY(0) ;}
    50% {transform: translateY(1em) ;}
    100% {transform: translateY(0) ;}
}

.derde main section:nth-of-type(2) > img{
    animation-delay: 0.8s;
}

.derde main section:nth-of-type(3) > img{
    animation-delay: 1.6s;
}


/* instagram logo montale */
.derde footer a {
    animation-delay: 1.5s;
    color: #f5f5db;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* instagram logo montale */
.derde footer a:hover{
    text-shadow: 0em 0em 1em white;

} 

/* instagram logo montale */
.derde footer a img {
    max-width: 4em;
}

/* shopping bag icon bewerken */
.derde section a img{
    width: 1.5em;
    padding-left: 1em;
}

/* geen echte button, maar wou het een go to actie geven.button bewerkingen van het  koop deze buton */
.derde section a {
    animation-delay: 1.5s;
    color: #f5f5db;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 0.1em gold;
    width: 8em;
    padding: 0.5em;
    transition: 0.4s;
}

.derde section a:hover{
    text-shadow: 0em 0em 1em white;
    box-shadow: 0em 0em 1em rgba(255, 217, 0, 0.664);
} 

/* Direct child. section is een kind van section en maakt kolommen zodat het naast elkaar komt*/
.derde main > section{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;

}




/*VIERDE PAGINA TRUSSARDI */



/* instagram logo trussardi */
.vierde footer a {
    animation-delay: 1.5s;
    color: #f5f5db;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* instagram logo trussardi */
.vierde footer a:hover{
    text-shadow: 0em 0em 1em white;

} 

/* instagram logo trussardi */
.vierde footer a img {
    max-width: 4em;
}

/* 4e pagina een breedte geven */
.vierde main{
    width: 70em;
}

/* 1e section kolommen maken */
.vierde main > section{
    
    align-items: center;
    display: grid;
    gap:5em;
    margin-top: 5em;
    /* repeat= 1e hoevaak herhalen, 2e is hoeveel kolommen */
    grid-template-columns: repeat(2,1fr);
}

/* 1e section alleen de fotos dus werk met nth type */
.vierde main > section:nth-of-type(1) img{
    max-width: 20em;
}

.vierde main > section:nth-of-type(2) img{
    max-width: 30em;
}

.vierde section section a img{
    width: 1.5em;
    padding-left: 1em;
}

/* geen echte button, maar wou het een go to actie geven.button bewerkingen van het  koop deze buton */
.vierde section section a {
    animation-delay: 1.5s;
    color: #f5f5db;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 0.1em gold;
    width:11em;
    padding: 0.5em;
    transition: 0.4s;
    margin:auto;
   
}

.vierde section section a:hover{
    text-shadow: 0em 0em 1em white;
    box-shadow: 0em 0em 1em rgba(255, 217, 0, 0.664);
} 






/* 5E PAGINA BRONNEN */


.bronnen main{
    display: grid; 
    grid-template-columns: repeat(4,1fr);
    gap:4em;
    margin:3em auto 0;
    max-width: 60em;
}

.bronnen main section{
    border: solid .1em white;
    
}

